# Java
target/
*.class
*.jar
*.war
*.log

# Maven
.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
dist/
.vite/

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/
*.iml

# Operating system
.DS_Store
Thumbs.db

# Logs
logs/
*.log
